@charset "utf-8";

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "Inter";
    src: url([[font:theme|Inter-Regular.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: italic;
    font-family: "Inter";
    src: url([[font:theme|Inter-Italic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: "Inter";
    src: url([[font:theme|Inter-Medium.ttf]]) format("truetype");
}

@font-face {
    font-weight: 500;
    font-style: italic;
    font-family: "Inter";
    src: url([[font:theme|Inter-MediumItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: "Inter";
    src: url([[font:theme|Inter-SemiBold.ttf]]) format("truetype");
}

@font-face {
    font-weight: 600;
    font-style: italic;
    font-family: "Inter";
    src: url([[font:theme|Inter-SemiBoldItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "Inter";
    src: url([[font:theme|Inter-Bold.ttf]]) format("truetype");
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: "Inter";
    src: url([[font:theme|Inter-BoldItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: "Inter";
    src: url([[font:theme|Inter-Black.ttf]]) format("truetype");
}

@font-face {
    font-weight: 900;
    font-style: italic;
    font-family: "Inter";
    src: url([[font:theme|Inter-BlackItalic.ttf]]) format("truetype");
}
